{% extends 'base-backend.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_categorie_index') }}" class="btn btn-dark mb-3"><i class="align-middle" data-feather="arrow-left-circle"></i></a>
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <h1>Modifier la catégorie</h1>
        {{ include('admin_categorie/_delete_form.html.twig') }}
    </div>
    {{ include('admin_categorie/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
